@import './variables.scss';

// 上拉，下拉
.slide-down-enter-to, .slide-down-leave-from, .slide-up-enter-to, .slide-up-leave-from{
  transition: transform .2s cubic-bezier(0.23, 0.8, 0.32, 1), opacity .2s cubic-bezier(0.23, 0.8, 0.32, 1);
}
.slide-down-enter-from, .slide-down-leave-to, .slide-up-enter-from, .slide-up-leave-to {
  opacity: 0;
  transform: scaleY(0);
}
.slide-down-enter-to, .slide-down-leave-from{
  transform-origin: center top;
}
// 上拉
.slide-up-enter-to, .slide-up-leave-from {
  transform-origin: center bottom;
}
