.l-counter {
  display: flex;
  width: 180px;
  .l-input_inner {
    text-align: center;
  }
}

.l-counter--decrease, .l-counter--increase {
  background-color: #ccc;
  padding: 5px;
  text-align: center;
}
