@import './variables.scss';
.l-dialog {
  position: fixed;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  background-color: #fff;
  border-radius: $border-radius;
  box-shadow: $box-shadow-base;
}

.l-dialog.is-fullscreen {
  top: 0;
}

.l-dialog.is-fullscreen .l-dialog-header {
  height:50px;
  border: 1px solid $border-color-second;
}
.l-dialog.is-fullscreen .l-dialog-body {
  height: calc(100vh - 110px);
  border: 1px solid $border-color-second;
}
.l-dialog.is-fullscreen .l-dialog-footer {
  height:60px;
  
}

.l-dialog-header, .l-dialog-body, .l-dialog-footer {
  box-sizing: border-box;
}

.l-dialog-body {
  padding: 25px 20px;
}

.l-dialog-header {
  padding: 15px 20px 5px;
  font-weight: bold;
}

.l-dialog-footer {
  padding: 15px 20px 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.l-dialog-close {
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}

// transition
.l-dialog-fade-enter-from {
  top: 13vh;
}
.l-dialog-fade-enter-active {
  transition: top .3s ease;
}

.l-dialog-fade-leave-to {
  top: 13vh;
}
.l-dialog-fade-leave-active {
  transition: top .3s ease;
}
